<h2 class="form-header">Welcome back</h2>

<div class="text-white flex justify-center ">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-styles">

    <div formInput identifier="username" formControlName="username"></div>
    @if (formControlIsValid(form.controls.username)) {
      <p class="text-red-200">Please enter a valid username, it must have at least 6 chars</p>
    }
    <div formInput identifier="password" type="password" formControlName="password"></div>
    @if (formControlIsValid(form.controls.password)) {
      <p class="text-red-200">Please enter a valid password, it must have at least 6 chars</p>
    }

    <div class="mt-4">
      <button type="submit" class="px-4 py-2 border rounded-xl">Log in</button>
    </div>

  </form>
</div>

